.directory_form{
  text-align: center;
}

.panel{
  text-align: center;
}

.panel-heading{
  font-weight: bold;
}

.form-control{
  text-align: center;
}

th{
  text-align: center;
}

body{
  background-color: #280052;
}

h4.hc {
  color: white;
}

h1.hc {
  color: white;
}

h5.hc {
  color: white;
}

.hc {
  color: white;
}
