.directory_form{
  text-align: center;
}

.panel{
  text-align: center;
}

.panel-heading{
  font-weight: bold;
}

.form-control{
  text-align: center;
}

th{
  text-align: center;
}

h1{
  text-align: center;
  color: blue;
}
